body {
	background-color: black;
}

div {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#app {
	width: 920px;
}

.table {
	background-image: url('../cards/table.png');
	height: 461px;
	width: 917px;
	overflow-x: hidden;
}

.titleImage {
	height: auto;
	width: 217px;
	left: 350px;
	position: relative;
}

.player {
	top: 200px;
	left: 400px;
	position: relative;
	height: 100px;
}

.dealer {
	top: 80px;
	left: 400px;
	position: relative;
	height: 100px;
}

.playerCard {
	margin-right: -50px;
}

.dealerCard {
	margin-right: -50px;
}

.result {
	font-size: 40px;
	color: red;
	text-align: center;
	position: relative;
	height: 50px;
}

.rightButtons {
	position:relative;
	top: 120px;
	float: right;
	margin-right: 20px;
	color: white;
	font-size: 35px;
	font-weight: bold;
	font-family: arial;
}

.bets * {
	color: green;
	font-size: 20px;
	
}

.bets {
	padding-top: 20px;
	float: right;
	margin-top: 10px;
}

.allBets * {
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	width: 40px;
	height: 40px;
	color: white;
	margin: 15px;
	float: left;
	font-size: 20px;
	border-width: 3px;
	border-color: white;
	border-radius: 40px;
	border-style: solid;
}

.allBets {
	padding-top: 20px;
	float: left;
}

.info * {
	position: absolute;
	left: 800px;
	color: white;
	height: 0px;
	width: 300px;
}

.count {
	top: 30px;
}

.percentage {
	top: 52px;
}

.wall {
	top: 90px;
	position: absolute;
	width: 300px;
	background-color: black;
	color: green;
	z-index: 1;
	background: cover;
	opacity: 1;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

.display{
	color: white;
	height: 0px;
	float: left;
}

.hide {
	position: absolute;
	left: 200px;
	top: 8px;
	font-size: 30px;
}

.footer {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: white;
}

.footer * {
	margin-right: 10px;
}

input {
	background-color: black;
	color: white;
}
